* {
    margin: 0;
    padding: 0;
}
#canvas {
    display: none;
    width: 100vw;
    height: 100vh;
}
.is-front video {
    transform: scaleX(-1);
}
.wrapper-2 {
    z-index: 100;
}
.wrapper-2,
.wrapper-3 {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100vh;
    max-width: 520px;
    overflow: hidden;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#localVideo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

#playVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.action-group {
    position: absolute;
    bottom: 10vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#takePhoto {
    background-color: #ccc;
    width: 17vw;
    height: 17vw;
    max-width: 80px;
    max-height: 80px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px #ccc;
}

#showPic {
    border: 2px solid #ccc;
    margin-right: 13%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#switchCamera {
    margin-left: 13%;
    transform: scale(0.8);
    transform-origin: left center;
}

#showPic,
#switchCamera {
    background-color: transparent;
    width: 13vw;
    height: 13vw;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
}

#photo {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    transform-origin: center center;
    transition: all 0.1s ease;
    flex: 0 0 auto;
}

button:active {
    opacity: 0.6;
    transform: scale(0.9);
}